* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
   
}


.content {
    vertical-align: middle;
    max-width: 1300px;
    padding-left: 6px;
    padding-right: 24px;
}

header span {
    color: #d00130;
    font-family: Arial;
    font-size: 10px;
    
}

header p {
    float:left;
    font-size: 10px;
    font-family: Arial;
}

.country {
    margin-left:15px;
    float:left;
    display:inline;
}






